.booking-card {
  background-color: #003f40;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  .remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    font-weight: 700;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .id {
    color: #003f40;
  }

  &.expanded {
    z-index: 999;
    position: relative;
    background-color: #fff;
    color: #041d1d;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      transform: none;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  p {
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
    color: #00adb5;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #009ba1;
    }
  }

  .booking-details {
    margin-top: 10px;

    .details-card {
      padding: 10px;
      background-color: #f2f2f2;
      border-radius: 8px;
    }
  }

  .action-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;

    button {
      background-color: #00adb5;
      color: #fff;
      padding: 8px 12px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #009ba1;
      }
    }
  }
}
