.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed;
  width: 100%;
  padding: 0 3rem;
  top: 0;
  z-index: 999;
  left: 0;

  .logo a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .sidebar-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  .navigation {
    display: none;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      gap: 7rem;

      li {
        margin-right: 10px;

        a {
          text-decoration: none;
          color: #333;
          transition: color 0.3s;

          &:hover {
            color: #888;
          }
        }
      }
    }
  }

  .user-profile {
    display: flex;
    align-items: center;
    margin: 0 6rem 0 0;
    flex-direction: row;

    .username {
      margin-right: 10px;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        outline: 2px double rgb(19, 43, 43);
      }
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #333;
      transition: color 0.3s;

      &:hover {
        color: #888;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navigation {
      display: block;
      ul {
        flex-direction: column;
        gap: 4px;
      }
    }

    .sidebar-toggle {
      display: block;
    }

    .user-profile {
      flex-direction: column;
      gap: 5px;
      .username {
        display: none;
      }
    }
    .navigation.open {
      display: block;
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: calc(100% - 80px);
      background-color: #f0f0f0;
      padding: 20px;

      ul {
        flex-direction: column;

        li {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
