.total-bookings {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total-bookings h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.total-bookings .toggle-button {
  margin-bottom: 20px;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: width 0.3s ease;
}

.total-bookings .toggle-button:hover {
  animation: vibrate 0.3s linear infinite both;
}

.total-bookings .booking-gallery {
  margin-bottom: 20px;
}

.total-bookings .booking-gallery h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.total-bookings .booking-gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

@media (min-width: 768px) {
  .total-bookings .booking-gallery .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .total-bookings .booking-gallery .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.total-bookings .booking-gallery .gallery-container .booking-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total-bookings .booking-gallery .gallery-container .booking-card p {
  margin: 0;
  font-size: 14px;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
